body
{
    width: 80%;
    font-family: cursive, 'sans-serif';
    color: black;
    margin: 0 auto 10%;
    background-color: #d5d5d5;

}

header
{
    background: #6f97d5;
    width: 215px;
    margin: 100px auto; /*haut-droit & gauche-bas*/
    font-size: 2.3em;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

section.conteneur
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.container
{
    border: 2px solid;
    background-color: grey;
    width: 40%;
    height: 700px;

}
