#menu a
{
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

li
{
    list-style: none;
    margin: auto;
    border-right: 0.5px inset lightgrey;
    border-left: 0.5px inset lightgrey;
}

/* (presque) fin de la partie positionnement/déco */
/* dans cette déclaration, on fixe le max-height */
#menu ul
{
	position: absolute;
	top: 2em; left: 0;
	max-height:0em;
	margin: 0; padding: 0;
	background-color: #ddd;
	background-image: linear-gradient(#fff, rgb(200, 128, 244), #fff);
	overflow: hidden;
	transition: 0.4s max-height 0.1s;
	border-radius: 0 0 8px 8px;
}

#menu > li, #menu > li li
{
	position: relative;
	display: inline-block;
	width: 110px;
	padding: 8px 15px;
	background-color: #6441A4;
	background-image: linear-gradient(rgb(118, 36, 168), rgb(0, 0, 0) -50%, rgb(118, 36, 168) 50%,rgb(0, 0, 0));
}

#menu > li li
{
     background: transparent none;
}

#menu > li li a
{
    color: #444;
}

#menu > li li:hover
{
    background:#eee;
}

#menu > li:first-child
{
	border-right: 0.5px solid #777;
	border-radius: 8px 0 0 8px;
}

#menu > li + li
{
	border-left: 1px solid #aaa;
	border-right: 1px solid #777;
}

#menu > li:last-child
{
	border-right: 0;
	border-left: 0.5px solid #aaa;
	border-radius: 0 8px 8px 0 ;
}

#menu > li:hover
{
    text-decoration: underline;
    border: 2px inset #6441A4;
	background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
	cursor: pointer;
}

/* ici on change la valeur de max-height au :hover */
#menu > li:hover ul
{
    border-bottom: 1px solid;
	max-height: 15em;
}
