body
{
    font-family: 'Dancing Script', cursive; serif;
    font-family: 'Shrikhand', cursive; serif;
    color: #491c99;
    margin: 10px auto;
}

h1
{
    text-align: left;
    text-decoration: none;
}
