body
{
    font-size: 25px; /*taille de police= 25 pixels*/
}

h1
{
    background-color: darkslategray;
    color: white;
}

section p
{
    color: red; /* tous les <p> à l'intérieur de la balise <section>*/
}

section p:first-child
{
    color: darkblue; /*premier <p>*/
}

section p:last-child
{
    color: lightgreen; /* dernier <p>*/
}

section p:nth-child(even)
{
    color: lightblue; /* les <p> pairs*/
}

section p:nth-child(odd)
{
    color: brown; /* les <p> impairs*/
}

section p:nth-child(3), section p:nth-child(10)
{
    color: orange; /*Les <p> 3 et 10  */
}

.Zone1
{/*Class donc avant son nom je met un . */
 color: #dc143c;
}

.Zone2
{
color: #008080;
}

.lime
{
 color: #00ff00;
}

#zone3
{/* ID donc avant son nom je met un # */
    background-color:#f5deb3;
}

#zone3:after
{/*rajouter contenu apres l'ID zone 3 */
 content: " rajoute après";
 color: red;
}

#zone3:before
{/*rajouter contenu avant l'ID zone 3 */
 content: "rajoute avant ";
 background-color: cyan;
}

.Zone4
{
 color: grey;
}

.Zone5 ul
{
    list-style-type: none;
}

li:nth-child(2)
{
    background-color: darkred;
    color: white;
}
