*
{/* l'étoile ou l'astérisque selectionne tous les élements de ma page html*/
    font-family: fantasy; /*choix d'une police*/
}

body
{
    /*largeur de ma page 50% de l'écran */
    width: 50%;
    /*position automatique des marges pour que mon tableau soit centré*/
    margin: auto;
}

table
{
    /* bordure 3 valeurs: épaisseur/ type de trait/ couleur*/
    border: 4px solid #483d8b;
    /*par default la bordure contient 2 traits, pour que le trait soit unique utiliser la propriété collapse*/
    border-collapse: collapse;
    /*largeur du tableau par rapport a son contenant donc ici au body !! ne pas oublier la regle d'héritage au css*/
    width: 90%;
    /*marge extérieur a l'élement */
    margin: 25px;
}

thead,tfoot
{
    background-color: #e6e6fa;
    border: 2px solid #6a5acd;
}

tbody
{
    border: 1px solid #6a5acd;
}

th
{
    border: 1px dotted #6a5acd; /* dotted = pointillés*/
    padding: 4px;
    background-color: #e6e6fa;
    width: 25%;
}

td
{
    font-size: 100%;
    border: 1px dotted #6a5acd;
    text-align: center;
    padding: 5px; /* Marge intérieur*/
}

    td:first-child
    {/* premier <td> pour aligner le texte à gauche de la première cellule de chaques rangée*/
    text-align: left;
    background-color: #e6e6fa;
    }
