/*1ère partie*/

body
{
background: #dea; /*raccourci de #ddeeaa  */
margin: 10px 0;
padding: 0;
text-align: center;
font-family:'PT Sans', sans-serif;
}

div#conteneur
{
    width: 770px; /*largeur de mon ID*/
    margin: 0 auto; /*marge automatique qui centre la div après l'avoir remonté le plus haut possible dans mon affichage*/
    text-align: left; /* centre le contenu de mon #conteneur*/
    border: 2px solid #ab4; /*bordure extérieur*/
    background: #fff; /* couleur de fond du #conteneur*/
}


h1#header
{
    height: 250px; /*on personalise la hauteur du titre h1*/
    background: url(../img/apple.jpg) no-repeat left top;
    margin: 0;
}
    h1#header a /*on donne les mêmes dimensions aux liens, chose possible grâce à la propriété display et a la valeur block; qui transforme les liens en éléments de type block auquelles on peut appliquer des propriété de taille. On positionne aussi l'image de fond qui a les même dimensions que le cadre ainsi créé. */
    {
    width: 400px;
    height: 70px;
    display: block;
    background: url(../img/title.gif) no-repeat;
    position: relative;
    left: 350px;
    top: 15px;
    text-indent: -5000px; /*le texte-indent negatif est fait pour pouvoir cacher le texte hors de la page, ce que nous voulons pour ne pas l'avoir devant notre image.*/
    }

/*3eme partie */

nav ul
{
    height: 35px; /* on donne une hauteur au menu, correspondant a la taille de l'image utiliser en fond*/
    margin: 0 auto;
    padding: 0;
    background: url(../img/bg_menu.gif) repeat-x 0 -25px; /* on met ensuite l'image du fond avec un décalage de 25px vers le haut*/
    list-style-type: none; /* on cache les puces*/
}
    nav ul li
    {
    float: left; /*on rend les <li> flottants pour les afficher horizontalement.*/
    text-align: center;
    }
    nav ul li a
    {
        width: 130px; /*largeur*/
        line-height: 25px; /*hauteru de la ligne*/
        font-weight: bold; /*mise en gras de la police*/
        font-size: 1.2em; /*taille de police*/
        letter-spacing: 2px; /*espacement des lettres*/
        color: #fff; /*couleur de texte*/
        display: block; /*en changeant la propriété des <a> en block on peut les dimensionner comme on veut*/
        text-decoration: none; /*on enlève le souligné que les navigateurs appliquent par default*/
        border-right: 2px solid #dea; /*bordure*/
    }
    nav ul li a:hover
    {
        background: url(../img/bg_menu.gif) repeat-x 0 0; /*on decale l'image de fond au passage de la souris*/
    }

/*2eme partie*/

div#contenu
{
    padding: 0 30px 0 100px;
    background-image: url(../img/bg_page.gif);
    background-repeat: no-repeat;
    background-position: 15px 15px; /* créé un espace a gauche et a droite de l'image*/
}

    div#contenu h2 /*mise en forme du titre de la page h2 */
    {
    padding-left: 25px;/*on décale le texte en fonction de l'image*/
    line-height: 25px; /*on décale le texte en fonction de l'image av ec une interligne(hauteur de ligne)*/
    font-size: 1.4em;/*taille de police*/
    background: url(../img/little_apple.gif) no-repeat left bottom;
    color: #9b2; /*couleur du texte*/
    border-bottom: 1px solid #9b2; /*bordure du bas en couleur*/
    }

    div#contenu h3 /* mise en forme du titre de la page h3*/
    {
        margin-left: 15px;
        padding-left: 5px;
        border-bottom: 1px solid #9b2;
        border-left: 1px solid #9b2;
        color: #9b2
    }

    div#contenu p
    {
        text-align: justify; /* alignement justifié*/
        text-indent: 2em; /*indentation plus grande que a l'affichage par defaut pour aérer le texte*/
        line-height: 1.7em; /*hauteur de ligne plus aéré aussi*/
    }

    /* div#contenu a  (mise en forme des liens de la page)
    {
    color: #9b2;
    }

    div#contenu a:hover
    {
        color:#9b2;
    }*/

p#footer
{
    margin: 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color:#9b2
}
